apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sre-gitops-app-dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "{{REPO_URL}}"
    targetRevision: "{{REVISION}}"
    path: charts/sre-gitops-app
    helm:
      valueFiles:
        - ../values-dev.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: sre-app-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
